@font-face {
  font-family: "Franklin";

  src: local("Franklin");
  src: url("/src/assets/fonts/Franklin\ Gothic\ Medium\ Cond\ Regular.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibry";

  src: local("Calibry");
  src: url("/src/assets/fonts/Calibry.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 385px;
  height: 670px;
  border: 1px solid rgb(0, 0, 0);
}
.border-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 380px;
  margin: 2px;
  border: 1px solid rgb(0, 0, 0);
  height: 665px;
}
.tranship {
  align-items: end;
  font-family: "Custom" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.date-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color:aqua; */
}
.date-container p {
  font-size: 12px;
  margin: 4px;
}
.tarikh {
  text-align: end;
  width: 20%;
  font-size: 18px;

  padding: 4px 8px;
  /* background: #000; */
}
.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: #5ac524; */
  width: 76px;
  height: 103px;
}
.img img {
  width: 100%;
  height: 103px;
}
.company-name {
  text-align: center;
  word-spacing: 5px;
  height: 22px;
  font-size: 15px;
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 190px;
  padding: 0px 5px;
}
.info1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  height: 32px;
  margin: 8px 5px;
  padding: 0px 6px;
  border: 1px solid black;
  font-weight: 400;
}
.info {
  display: flex;
  /* text-align: center; */
  align-items: center;

  width: 100%;
  height: 32px;
  margin: 7px 5px;
  padding: 0px 6px;
  padding-top: 5px;
  border: 1px solid black;
}
.info p {
  height: 24px;
  word-spacing: 5px;
  font-size: 17px;
}

.khareji {
  font-family: "Calibry" !important;
  font-weight: 400 !important;
  font-size: 17px !important;
}

.gas-container {
  font-family: "Custom" !important;
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 100%;
  height: 145px;
  padding: 1px 2px;
  /* background: #58cd3086; */
}
.pelak-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pelak-items p {
  margin: 0px 3px;
  font-size: 17px !important;
}
.baks {
  font-family: "Custom" !important;
  display: flex;
  align-items: center;
  width: 100%;

  display: flex;
  align-items: center;
}
.bak {
  font-family: "Custom" !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 50%;
  height: 33px;
  margin: 8px 3px;
  border: 1px solid black;
  font-size: 18px;
}
.bak .tota {
  font-family: "Custom" !important;
}
.warning-container {
  font-family: "Custom" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43px;
  /* background: #8b8b8b52; */

  /* background: #000; */
}
.litr-span {
  font-family: "Calibry" !important;
}
.bak1 {
  font-family: "Calibry" !important;
  font-size: 16px !important;
}
.signatuare-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 153px;
  padding: 2px;
}
.sign-area {
  margin: 2px;
  /* margin-bottom: 10px; */
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.emza {
  width: 77px;

  margin: 8px;
}
.emza img {
  width: 100%;
  height: 21px;
}
.etelaat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
}
.etelaat img {
  width: 100%;
  height: 25px;
}
@media screen and (max-width: 680px) {
  .main-form-container {
    min-width: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 680px;
  }
}
